body {
    background-image: none;
}

header {
    padding: 3rem 0 1rem;
}

main {
    padding: 2rem 0 5rem;
}

nav {
    justify-content: space-between;
}

.back-link {
    text-decoration: none; /* No underline */
    font-size: 1.5rem; /* Font size */
    letter-spacing: 0.25px; /* Consistent letter spacing */
    font-weight: 500; /* Font weight */
    color: #363b45; /* Default text color */
    position: relative; /* Necessary for ::after positioning */
    display: inline-flex; /* Ensures proper alignment for text and icon */
    transition: color 0.2s ease-in-out; /* Smooth color transition */
    align-items: center; /* Align text and icon vertically */
    gap: 0.5rem; /* Add spacing between the icon and text */
}

.back-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px; /* Adjust underline's position */
    width: 0; /* Start with no width */
    height: 2px; /* Thickness of the underline */
    background-color: #656a75; /* Underline color */
    transition: width 0.3s ease-in-out; /* Smooth animation */
}

.back-link:hover::after {
    width: 100%; /* Full underline on hover */
}

.back-link:hover {
    color: #656a75; /* Change text color on hover */
}

.back-link svg {
    width: 1.8rem; /* Icon width */
    height: 1.8rem; /* Icon height */
    transition: color 0.2s ease-in-out;
    margin-bottom: 0.35rem;
}

.case-study-hero {
    text-align: left;
}

.case-study-header {
    display: flex;
    justify-content: space-between; /* Space between the title and tags */
    align-items: center; /* Align items vertically */
    margin-bottom: 1.5rem;
}

.case-study-header h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1px;
    flex: 1;
}

.case-study-header .tags {
    align-self: center;
}

.case-study-image {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.case-study-image img {
    width: 100%;
    height: 46rem;
    object-fit: cover;
    border-radius: 1rem;
}

.case-study-details {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    padding: 4rem 1.5rem;
}

.content {
    width: 50%;
}

.detail-item {
    margin-bottom: 2.5rem; /* Add space between items */
}

.detail-item:last-child {
    margin-bottom: 0; /* Remove margin from the last item */
}

.detail-item h2, .contact-info h2 {
    font-size: 1rem;
    font-weight: 500; /* Bold heading */
    margin-bottom: 0.8rem; /* Space below headings */
}

.detail-item p, .detail-item ul {
    color: #656a75; /* Subtle gray for paragraph text */
    margin-bottom: 1rem; /* Space between paragraphs */
}

.nav-style-link {
    text-decoration: none; /* No underline by default */
    /* font-size: 0.875rem; */
    letter-spacing: 0.3px;
    font-weight: 400;
    color: #363b45;
    position: relative;
    display: inline-block;
    transition: color 0.2s ease-in-out; /* Smooth hover effect */
}

.nav-style-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 1.4px;
    background-color: #656a75;
    transition: width 0.3s ease-in-out;
}

.nav-style-link:hover {
    color: #656a75; /* Optional: Change text color on hover */
}

.nav-style-link:hover::after {
    width: 100%; /* Full underline width on hover */
}


ul {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    list-style: disc outside;
    /* padding-left: 0.75rem; */
    list-style-type: none;
}

.image-row {
    display: flex; /* Use Flexbox to align images in a row */
    gap: 1rem; /* Add spacing between images */
}

.image-row .image-container {
    flex: 1; /* Make containers take up equal available space */
    border-radius: 1rem;
    overflow: hidden;
}

.image-row .image-container:first-child {
    flex: 1; /* 1/3 of the row */
}

.image-row .image-container:last-child {
    flex: 2; /* 2/3 of the row */
}

.image-row img {
    width: 100%; /* Make images responsive */
    height: 28rem; /* Maintain aspect ratio */
    border-radius: 1rem; /* Optional: Add rounded corners */
    object-fit: cover;
}

.contact-info ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    display: flex; /* Display items in a row */
    flex-direction: row; /* Items in a row */
    gap: 2rem; /* Space between items */
    justify-content: end; /* Center items horizontally */
}

.contact-info ul li a {
    text-decoration: none; /* No underline by default */
    font-size: 0.875rem;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: #363b45;
    position: relative;
    display: inline-block;
    transition: color 0.2s ease-in-out; /* Smooth hover effect */
}

.contact-info ul li a:hover {
    color: #656a75; /* Optional: Change text color on hover */
}

.contact-info ul li:before {
    display: none;
}

#margin-top {
    margin-top: 0.5rem;
}

@media screen and (max-width: 972px) {
    .case-study-image img.second {
        height: 32rem;
    }

    .image-row img {
        height: 24rem; /* Maintain aspect ratio */
    }

    .content {
        width: 100%;
    }

    p {
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .case-study-header {
        flex-direction: column; /* Stack title and tags vertically */
        align-items: flex-start; /* Align content to the left */
    }

    .case-study-header .tags {
        margin-top: 0.75rem; /* Add space between the title and tags */
        align-self: flex-start; /* Ensure tags align to the left */
    }

    .case-study-header h1 {
        font-size: 2rem; /* Adjust the title size for smaller screens */
    }

    .case-study-image img {
        height: 24rem; /* Adjust image height for smaller screens */
    }

    .case-study-details {
        justify-content: center;
        padding: 2rem 1.5rem;
    }

    .content {
        max-width: 100%; /* Use full width on smaller screens */
    }

    .image-row img {
        height: 20rem; /* Maintain aspect ratio */
    }

    .image-row {
        gap: 0.5rem; /* Add spacing between images */
    }

    .back-link {
        max-width: 100px;
    }
}

@media screen and (max-width: 716px) {
    .case-study-image img.second {
        height: 22rem;
    }

    .image-row {
        flex-direction: column; /* Stack images vertically */
    }

    .image-row .image-container {
        flex: none; /* Reset flex property */
        width: 100%; /* Make containers full-width */
    }

    .image-row img {
        height: 24rem;
    }

    .detail-item p, .detail-item ul {
        margin-bottom: 0.25rem;
    }
}


@media screen and (max-width: 640px) {
    .footer {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-section.left {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-section.left {
        order: 2;
    }

    .footer-section.right {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .contact-section {
        width: 100%;
    }

    .contact-info ul {
        justify-content: center;
    }

    .contact-info ul li {
        padding-left: 0;
    }
}


@media screen and (max-width: 480px) {
    .case-study-header h1 {
        font-size: 1.6rem;
    }

    .case-study-image img {
        height: 20rem;
        scale: 1.1;
    }

    .case-study-image img.second {
        height: 20rem;
    }

    .image-row img {
        height: 20rem;
        scale: 1.2;
    }
}